%immagine{
	background:{
		repeat: no-repeat;
		size: cover;
	}
	height: 100%;
	width: 100%;
}
	
.dubai{
	@extend %immagine;
	background:{
		image: url("../img/dubai.jpg");
	}
}
.shanghai{
	@extend %immagine;
	background:{
		image: url("../img/shanghai.jpg");
	}
}
.well{
	
	filter: alpha(opacity=82);
	opacity: 0.82;
	
	
	background:{		
		color:lighten(#333, 73%);
	}
	border:{
		
		width: 5px;
	}
	padding:{
		left:19px;
	}
	h1{
		font-weight: 900;
		margin-bottom: 19px;
		letter-spacing: 1px;
	}
}
.login-center{
	margin-left:30%;
}
.nero{
	font-weight: 600;
	background:{
		color:lighten(#333, 55%);
	}
	&:hover{
		background:{
			color:lighten(#333, 50%);
		}
	}

}

